<div class="container">

    <h1>Tipo de usuario</h1>
  
    <mat-form-field class="example-full-width">
      <mat-label>Id</mat-label>
      <input matInput placeholder="id" [(ngModel)]="tipousuario.id">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>Nombre del tipo de usuario</mat-label>
      <input matInput required placeholder="tipo" [(ngModel)]="tipousuario.nombreTipo">
  
    </mat-form-field>
  
  
    <br>
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/tipousuario">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>


