<div class="container">

  <h1>Alimento</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="alimento.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput required placeholder="name" [(ngModel)]="alimento.nameAlimento">

  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>cal</mat-label>
    <input matInput required placeholder="cal" [(ngModel)]="alimento.cal">
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/alimentos">Cancelar</button>
  <p>{{mensaje}}</p>

</div>

