<div class="d-inline p-1" id="buscarplan">
  <label class="form-label"> Nombre del plan</label> 
  <app-plan-buscar></app-plan-buscar>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element?.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element?.namePlan }}</td>
  </ng-container>

  <ng-container matColumnDef="detalle">
    <th mat-header-cell *matHeaderCellDef>Detalles</th>
    <td mat-cell *matCellDef="let element">{{ element?.detallesPlan }}</td>
  </ng-container>

  <ng-container matColumnDef="tiempo">
    <th mat-header-cell *matHeaderCellDef>Tiempo de plan</th>
    <td mat-cell *matCellDef="let element">{{ element?.tiempoPlan }}</td>
  </ng-container>

  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let element">{{ element?.precioPlan }}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
        [routerLink]="['edicion', element?.id]">Actualizar</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="accion2">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="confirmar(element.id)">Eliminar</button>

    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="example-button-container">

  <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
    routerLink="/plan-creaedita">
    <mat-icon>plus_one</mat-icon>
  </button>
</div>
