<div>
  <div class="header">
    <h1 class="title">TRICKFIT</h1>
    <menu class="menu">
      <ul>
        <li class="indice">
          <a routerLink="/alimentos">Alimentos</a>
          <a routerLink="/usuario">Usuarios</a>
          <a routerLink="/planes">Planes</a>
          <a routerLink="/recetas">Recetas</a>
          <a routerLink="/ejercicio">Ejercicios</a>
          <a routerLink="/banco">Bancos</a>
          <a routerLink="/cita">Citas</a>
          <a routerLink="/suscripcion">Suscripciones</a>
          <a routerLink="/pregunta">Preguntas frecuentes</a>
          <a routerLink="/tipousuario">Tipo Usuario</a>
        </li>
      </ul>
    </menu>
  </div>
  <router-outlet></router-outlet>
</div>
