<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef>Usuario</th>
      <td mat-cell *matCellDef="let element">{{ element?.usuario.nameUsuario }}</td>
    </ng-container>
  
    <ng-container matColumnDef="alimento">
      <th mat-header-cell *matHeaderCellDef>Alimento</th>
      <td mat-cell *matCellDef="let element">{{ element?.alimento.nameAlimento }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
