<div class="container">
  
    <mat-form-field class="example-full-width">
      <mat-label>Id</mat-label>
      <input matInput placeholder="id" [(ngModel)]="banco.id">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="nombre" [(ngModel)]="banco.nombreBanco">
  
    </mat-form-field>
    
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/banco">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>